<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>유닛 조회</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>

<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>유닛 조회</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">메인</a></li>
                <li class="breadcrumb-item">발주계획</li>
                <li class="breadcrumb-item">제품</li>
                <li class="breadcrumb-item active">유닛조회</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
            <!--여기에 카드랑 내용 넣어주시면 됩니다..-->

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">유닛조회</h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">등록날짜</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" th:value="${unitRegDate}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">마지막수정날짜</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" th:value="${unitModDate}" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">유닛코드</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${unit.get().unitCode}" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">유닛명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${unit.get().unitName}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">규격</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  th:value="${unit.get().unitStand}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">재질</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:value="${unit.get().unitTexture}" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">도면</label>
                                <div class="col-sm-10">
                                    <!--                                        <input class="form-control" type="file" id="formFile" disabled><br />-->
                                    <span th:text="@{${unit.get().unitDrawFile}}"></span>
                                    <!--                                        <img th:src="@{${unit.get().unitDrawFile}}" alt="Etc File"/>-->
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">참고문서</label>
                                <div class="col-sm-10">
                                    <!--                                        <input class="form-control" type="file" id="formFile" disabled><br />-->
                                    <span th:text="@{${unit.get().unitEtcFile}}"></span>
                                    <!--                                        <img th:src="@{${unit.get().unitEtcFile}}" alt="Etc File"/>-->
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">
                                    자재리스트
                                </label>
                                <div class="col-sm-10">

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">자재명</th>
                                            <th scope="col">자재코드</th>
                                            <th scope="col">규격</th>
                                            <th scope="col">재질</th>
                                            <th scope="col">등록일</th>
                                        </tr>
                                        <tr hidden="hidden">
                                            <th scope="col">#</th>
                                            <th scope="col">자재명</th>
                                            <th scope="col">수량(개)</th>
                                            <th scope="col">투입공정</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="material, state : ${materials}">
                                            <th scope="row" th:text="${state.count }"></th>
                                            <td th:text="${material.materialName}"></td>
                                            <td th:text="${material.materialCode}"></td>
                                            <td th:text="${material.materialStand}"></td>
                                            <td th:text="${material.materialTexture}"></td>
                                            <td>[[${#temporals.format(material.materialRegDate, 'yyyy/MM/dd')}]]</td>
                                        </tr>
                                        <tr hidden="hidden">
                                            <th scope="row">1</th>
                                            <td>펜대</td>
                                            <td><input type="number" value="1" disabled></td>
                                            <td><input type="text" value="최종조립" disabled></td>

                                        </tr>
                                        <tr hidden="hidden">
                                            <th scope="row">2</th>
                                            <td>펜촉</td>
                                            <td><input type="number" value="3"disabled></td>
                                            <td><input type="text" value="1차조립" disabled></td>

                                        </tr>
                                        <tr hidden="hidden">
                                            <th scope="row">3</th>
                                            <td>버튼</td>
                                            <td><input type="number" value="3" disabled></td>
                                            <td><input type="text" value="2차조립" disabled></td>

                                        </tr>
                                        <tr hidden="hidden">
                                            <th scope="row">4</th>
                                            <td>그립</td>
                                            <td><input type="number" value="1" disabled></td>
                                            <td><input type="text" value="최종조립" disabled></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <a th:href="@{/product/unitModify/{unitCode}(unitCode=${unit.get().unitCode})}"><button type="button" class="btn btn-primary">수정</button></a>
                                    <a href="/product/getListUnit"><button type="button" class="btn btn-primary">리스트</button></a>
                                    <a href="생산계획처리.html"><button type="button" class="btn btn-primary">생산계획등록</button></a>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>

        </div> <!--End row-->
    </section>

</main>
<!-- End #main -->

<th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::js}"></th:block>

</body>
</html>
