<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>자재 등록</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>

<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>자재상세보기</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                <li class="breadcrumb-item">발주계획</li>
                <li class="breadcrumb-item">제품</li>
                <li class="breadcrumb-item active">자재상세보기</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            자재상세보기
                        </h5>
                        <div class="row mb-3">
                            <label for="materialName" class="col-sm-2 col-form-label">자재명</label>
                            <div class="col-sm-10">
                                <input type="text" name="material_name" id="materialName" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">단가</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="contractAvgPrice" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="materialStand" class="col-sm-2 col-form-label">규격</label>
                            <div class="col-sm-10">
                                <input type="text" name="material_stand" id="materialStand" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="materialTexture" class="col-sm-2 col-form-label">재질</label>
                            <div class="col-sm-10">
                                <input type="text" name="material_texture" id="materialTexture" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="materialDrawFile" class="col-sm-2 col-form-label">도면</label>
                            <div class="col-sm-10">
                                <a class="input-group mb" id="viewFileBtnD" target="_blank">
                                    <button type="button" class="input-group-text">파일보기</button>
                                    <input type="text" class="form-control" id="materialDrawFile" disabled>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="materialEtcFile" class="col-sm-2 col-form-label">참고문서</label>
                            <div class="col-sm-10">
                                <a class="input-group mb" id="viewFileBtnE" target="_blank">
                                    <button type="button" class="input-group-text">파일보기</button>
                                    <input type="text" class="form-control" id="materialEtcFile" disabled>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <a href="/item/materialList"><button type="button" class="btn btn-primary" >리스트</button></a>
                                <button type="button" class="btn btn-primary" id="modifyMaterial" hidden>수정</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                재고내역보기
                            </h5>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">현재고</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="materialQuantity" disabled>
                                </div>
                                <label class="col-sm-2 col-form-label">안전재고</label>
                                <div class="col-sm-4">
                                    <input type="number" name="material_safe_quantity" id="materialSafeQuantity" class="form-control" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">재고내역</label>
                                <div class="col-sm-10">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">구분</th>
                                            <th scope="col">변동량</th>
                                            <th scope="col">남은재고</th>
                                            <th scope="col">거래처/요청부서</th>
                                            <th scope="col">날짜</th>
                                        </tr>
                                        </thead>
                                        <tbody id="inventoryHistoryList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<script th:inline="javascript">
    $(document).ready(function (e) {
        var materialCode = [[${materialCode}]];
        $.getJSON("/itemcontent/material/" + materialCode, function(dto) {
            $("#materialCode").val(dto.materialCode);
            $('#materialName').val(dto.materialName);
            $('#materialStand').val(dto.materialStand);
            $('#materialTexture').val(dto.materialTexture);
            $('#materialSafeQuantity').val(dto.materialSafeQuantity);
        })
        $.getJSON("/inventorycontent/material/" + materialCode, function(dto) {
            $('#contractAvgPrice').val(dto.contractAvgPrice);
            $('#materialQuantity').val(dto.materialQuantity);
        })
        $.getJSON("/files/list/" + materialCode+"D", function(file) {
            $("#viewFileBtnD").prop("href","/files/foreignCode/view/"+materialCode+"D");
            $("#materialDrawFile").val(file[0].fileName);
        })
        $.getJSON("/files/list/" + materialCode+"E", function(file) {
            $("#viewFileBtnE").prop("href","/files/foreignCode/view/"+materialCode+"E");
            $("#materialEtcFile").val(file[0].fileName);
        })
        $("#saveMaterial").on("click", function () {
            // 먼저 다른 데이터를 서버로 전송
            var purchaserDTO = {
                materialName: $('#materialName').val(),
                materialStand: $('#materialStand').val(),
                materialTexture: $('#materialTexture').val(),
                materialSafeQuantity: $('#materialSafeQuantity').val(),

            };
            $.ajax({
                url: '/item/material',
                type: "POST",
                data: JSON.stringify(purchaserDTO),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    console.log("자재코드는?? ", result);
                    alert("저장했습니다.");
                    uploadMaterialDrawFile(result);  // 파일 업로드 함수 호출
                },
                error: function (error) {
                    console.log("데이터 저장 실패: ", error);
                    alert("데이터 저장에 실패했습니다. 다시 시도해주세요.");
                }
            });
        });

        function uploadMaterialDrawFile(materialCode) {
            console.log("함수 안에서 자재코드는?? ", materialCode);
            var formData = new FormData();
            var fileInput = $('#materialDrawFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + materialCode+"D" + '/' + "item material "+materialCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        uploadMaterialEtcFile(materialCode);
                        // window.location.href = "/product/getListProduct";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                uploadMaterialEtcFile(materialCode);
                // 파일이 없는 경우에도 페이지 리다이렉트
                // window.location.href = "/product/getListProduct";
            }
        }
        function uploadMaterialEtcFile(materialCode) {
            console.log("함수 안에서 자재코드는?? ", materialCode);
            var formData = new FormData();
            var fileInput = $('#materialEtcFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + materialCode+"E" + '/'+"item material "+materialCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        window.location.href = "/product/getListProduct";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                //파일이 없는 경우에도 페이지 리다이렉트
                window.location.href = "/product/getListProduct";
            }
        }
    });
    var totalPage = 0;
    var currentPage = 1;
    const transactionTypeMapping = {
        "DISPOSE" : "폐기",
        "MISSING" : "분실",
        "RELEASE" : "출고",
        "RETURN": "반품",
        "WAREHOUSING": "입고(정품)"
    };
    $(document).ready(function (e) {
        console.log("자바스크립트작동")
        function getInventoryHistoryContent(page) {
            let jsonLink = `/inventorycontent/inventoryHistoryListWithMaterial/`+[[${materialCode}]]+`?page=${page}&size=10`;
            return $.getJSON(jsonLink, function (data) {
                console.log("요청", data);
                console.log("요청링크", jsonLink)
                if (totalPage === 0) {
                    totalPage = data.totalPage;
                }
                var str = "";
                $.each(data.dtoList, function (idx, dto) {
                    let historyLink = ""
                    if (dto.transactionType === "WAREHOUSING" || dto.transactionType === "RETURN") {
                        historyLink = "/inventory/warehousingGet?warehousingCode=" + dto.transactionReference.substring(0, 19)
                    } else if (dto.transactionType === "RELEASE") {
                        historyLink = "/inventory/releaseGet?releaseCode=" + dto.transactionReference
                    } else if (dto.transactionType === "DISPOSE" || dto.transactionType === "MISSING") {
                        historyLink = "#"
                    }
                    str += '<tr>';
                    str += '<th scope="row">' + ((page - 1) * data.size + idx + 1) + '</th>';
                    str += '<td><a href="'+historyLink+'"> ' + transactionTypeMapping[dto.transactionType] + '</a></td>';
                    str += '<td>' + (dto.quantityChange < 0 ? (dto.quantityChange * (-1)) : dto.quantityChange) + '</td>';
                    str += '<td>' + dto.finalQuantity + '</td>';
                    str += '<td>' + (dto.transactionCounterparty === null ? '-' : dto.transactionCounterparty) + '</td>';
                    str += '<td>' + formatDate(dto.transactionDate) + '</td>';
                    str += '</tr>';
                });
                $("#inventoryHistoryList").append(str); // 데이터를 덮어쓰지 않고 추가
            });
        }

        getInventoryHistoryContent(1);
        setupInfiniteScroll(getInventoryHistoryContent);
    });
</script>
<th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::js}"></th:block>

</body>
</html>
