<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>유닛 등록</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>

<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>유닛 등록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">메인</a></li>
                <li class="breadcrumb-item">발주계획</li>
                <li class="breadcrumb-item">제품</li>
                <li class="breadcrumb-item active">유닛등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            유닛등록
                        </h5>
                        <div class="row mb-3">
                            <label for="unitName" class="col-sm-2 col-form-label">유닛명</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_name" id="unitName" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitStand" class="col-sm-2 col-form-label">규격</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_stand" id="unitStand" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitTexture" class="col-sm-2 col-form-label">재질</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_texture" id="unitTexture" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitDrawFile" class="col-sm-2 col-form-label">도면</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" name="unit_draw_file" id="unitDrawFile">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitEtcFile" class="col-sm-2 col-form-label">참고문서</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" name="unit_etc_file" id="unitEtcFile">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">
                                BOM
                            </label>
                            <div class="col-sm-10">
                                <div class="input-group mb">
                                    <input type="text" class="form-control" id="materialCode" required>
                                    <button type="button" class="input-group-text" id="materialSelectionBtn" data-bs-toggle="modal" data-bs-target="#materialSelection">검색</button>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">자재명</th>
                                        <th scope="col">규격/재질</th>
                                        <th scope="col">수량(개)</th>
                                        <th scope="col">투입공정</th>
                                        <th scope="col">삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bomList">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" id="saveUnit">저장</button>
                            </div>
                        </div>
                        <!-- Modal Dialog Scrollable -->
                        <div class="modal fade" id="materialSelection" tabindex="-1">
                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">검색</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title" id="materialListName">제품리스트</h5>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12">
                                                                <div class="input-group mb">
                                                                    <input type="text" class="form-control" id="materialSearch" placeholder="코드 또는 이름 입력">
                                                                    <button type="button" class="input-group-text">검색</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12" >
                                                                <!-- List group With Checkboxes and radios -->
                                                                <div class="form-control">
                                                                    <ul class="list-group" style="height:200px; overflow-y: auto;">
                                                                        <span id="materialSearchList" class="list-group-flush"></span>
                                                                    </ul><!-- End List Checkboxes and radios -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        선택한 항목
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12" >
                                                                <!-- List group With Checkboxes and radios -->
                                                                <div class="form-control">
                                                                    <ul class="list-group" style="height:200px; overflow-y: auto;">
                                                                        <span id="materialSelectedList" class="list-group-flush"></span>
                                                                    </ul><!-- End List Checkboxes and radios -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>&nbsp&nbsp원하시는 <span class="material">제품</span>이 없으십니까?&nbsp&nbsp<a href="#" target="_blank"><span class="material">제품</span>등록하기</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <span id="selectedDivisionFooter"></span>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" id="searchDivisionSubmit">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- 제품 혹은 유닛 검색 모달창 끝-->
                    </div>
                </div>
            </div>
        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<script th:inline="javascript">
    $(document).ready(function (e) {
        let selectedMaterials = [];

        $("#materialSelectionBtn").on("click", function () {
            console.log("검색버튼 클릭됨");
            var selectedCode = null;
            $("#materialSearch").on("input", function () {
                var keyword = $("#materialSearch").val();
                console.log("검색 키워드: " + keyword);
                $.getJSON("/plan/materialListSearching?keyword=" + keyword, function(data) {
                    console.log("검색기능 잘 되나?"+data);
                    let str = "";
                    $.each(data, function(idx, dto) {
                        const isChecked = selectedMaterials.some(material => material.code === dto.materialCode);
                        str += '<li class="list-group-item">';
                        str += '<div class="row">';
                        str += '<div class="col-lg-1"><input class="form-check-input me-1 material-checkbox" type="checkbox" value="'+dto.materialCode+'" data-material-name="'+dto.materialName+'" data-material-stand="'+dto.materialStand+'" data-material-texture="'+dto.materialTexture+'" ' + (isChecked ? 'checked' : '') + '></div>';
                        str += '<div class="col-lg-2">'+dto.materialName+'</div>';
                        str += '<div class="col-lg-4">'+dto.materialStand+'</div>';
                        str += '<div class="col-lg-3">'+dto.materialTexture+'</div>';
                        str += '<div class="col-lg-2">'+dto.materialCode+'</div>';
                        str += '</div>';
                        str += '</li>';
                    });
                    $("#materialSearchList").html(str);

                    // Add change event listener for dynamically added checkboxes
                    $(".material-checkbox").change(function() {
                        let materialCode = $(this).val();
                        let materialName = $(this).data('materialName');
                        let materialStand = $(this).data('materialStand');
                        let materialTexture = $(this).data('materialTexture');

                        if ($(this).is(':checked')) {
                            if (!selectedMaterials.some(material => material.code === materialCode)) {
                                selectedMaterials.push({
                                    code: materialCode,
                                    name: materialName,
                                    stand: materialStand,
                                    texture: materialTexture
                                });
                            }
                        } else {
                            selectedMaterials = selectedMaterials.filter(material => material.code !== materialCode);
                        }
                        updateSelectedList();
                    });
                }).fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("자재 정보 요청 실패: " + err);
                });
            });
        });

        function updateSelectedList() {
            let str = "";
            $.each(selectedMaterials, function(idx, material) {
                str += '<li class="list-group-item">';
                str += '<div class="row">';
                str += '<div class="col-lg-1"><button type="button" class="btn btn-danger btn-sm delete-btn" data-material-code="'+material.code+'">x</button></div>';
                str += '<div class="col-lg-2">'+material.name+'</div>';
                str += '<div class="col-lg-4">'+material.stand+'</div>';
                str += '<div class="col-lg-3">'+material.texture+'</div>';
                str += '<div class="col-lg-2">'+material.code+'</div>';
                str += '</div>';
                str += '</li>';
            });
            $("#materialSelectedList").html(str);

            // Add event listener to delete buttons
            $(".delete-btn").click(function() {
                const materialCode = $(this).data('material-code');
                selectedMaterials = selectedMaterials.filter(material => material.code !== materialCode);
                updateSelectedList(); // Update the list after deletion
                updateBOMList(); // Update BOM list after deletion
                // Also, uncheck the corresponding checkbox in the search list if it's visible
                $("input.material-checkbox[value='" + materialCode + "']").prop('checked', false);
            });
        }

        $("#searchDivisionSubmit").on("click", function () {
            updateBOMList(); // Update BOM list when the submit button is clicked
            $("#materialSelection").modal('hide');
        });

        function updateBOMList() {
            let str = "";
            $.each(selectedMaterials, function(idx, material) {
                str += '<tr>';
                str += '<td>' + (idx+1) + '</td>';
                str += '<td id="materialName'+idx+'" data-material-code="'+material.code+'">' + material.name + '</td>';
                str += '<td>' + material.stand+' / '+material.texture+ '</td>';
                str += '<td><input type="number" class="form-control" value="1" min="1" id="unitBomQuantity'+idx+'"></td>'; // Default quantity is 1
                str += '<td><input type="text" class="form-control" placeholder="투입공정" id="unitBomProcess'+idx+'"></td>'; // Process input
                str += '<td><button type="button" class="btn btn-danger btn-sm delete-bom-btn" data-material-code="'+material.code+'">삭제</button></td>';
                str += '</tr>';
            });
            $("#bomList").html(str);

            // Add event listener to BOM delete buttons
            $(".delete-bom-btn").click(function() {
                const materialCode = $(this).data('material-code');
                selectedMaterials = selectedMaterials.filter(material => material.code !== materialCode);
                updateSelectedList(); // Update the selected list after deletion
                updateBOMList(); // Update BOM list after deletion
            });
        }


        //이하까지는 잘 문서 저장용으로 잘 작동 됨
        $("#saveUnit").on("click", function () {
            // 먼저 다른 데이터를 서버로 전송
            var unitDTO = {
                unitName: $('#unitName').val(),
                unitStand: $('#unitStand').val(),
                unitTexture: $('#unitTexture').val(),
                unitBomDTOList: []
            };
            $('#bomList tr').each(function(index, element) {
                var unitBomDTO = {
                    materialCode: $(element).find('#materialName' + (index)).data('materialCode'),
                    materialName: $(element).find('#materialName' + (index)).text(),
                    unitBomQuantity: $(element).find('#unitBomQuantity' + (index)).val(),
                    unitBomProcess: $(element).find('#unitBomProcess' + (index)).val()
                };
                unitDTO.unitBomDTOList.push(unitBomDTO);
            });
            console.log("보낼데이터는 !!!!  +   ",unitDTO);
            $.ajax({
                url: '/itemcontent/unit',
                type: "POST",
                data: JSON.stringify(unitDTO),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    console.log("자재코드는?? ", result);
                    alert("저장했습니다.");
                    uploadUnitDrawFile(result);  // 파일 업로드 함수 호출
                },
                error: function (error) {
                    console.log("데이터 저장 실패: ", error);
                    alert("데이터 저장에 실패했습니다. 다시 시도해주세요.");
                }
            });
        });

        function uploadUnitDrawFile(unitCode) {
            console.log("함수 안에서 자재코드는?? ", unitCode);
            var formData = new FormData();
            var fileInput = $('#unitDrawFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + unitCode+"D" + '/' + "item unit "+unitCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        uploadUnitEtcFile(unitCode);
                        // window.location.href = "/product/getListProduct";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                uploadUnitEtcFile(unitCode);
                // 파일이 없는 경우에도 페이지 리다이렉트
                // window.location.href = "/product/getListProduct";
            }
        }
        function uploadUnitEtcFile(unitCode) {
            console.log("함수 안에서 자재코드는?? ", unitCode);
            var formData = new FormData();
            var fileInput = $('#unitEtcFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + unitCode+"E" + '/'+"item unit "+unitCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        window.location.href = "/item/unitList";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                //파일이 없는 경우에도 페이지 리다이렉트
                window.location.href = "/item/unitList";
            }
        }
    });
</script>
<th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{fragments/bodyFragment::js}"></th:block>

</body>
</html>
