<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>자재 등록</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>

<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>유닛 등록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                <li class="breadcrumb-item">발주계획</li>
                <li class="breadcrumb-item">제품</li>
                <li class="breadcrumb-item active">유닛등록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            유닛등록
                        </h5>
                        <div class="row mb-3">
                            <label for="unitName" class="col-sm-2 col-form-label">유닛명</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_name" id="unitName" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitStand" class="col-sm-2 col-form-label">규격</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_stand" id="unitStand" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitTexture" class="col-sm-2 col-form-label">재질</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit_texture" id="unitTexture" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitDrawFile" class="col-sm-2 col-form-label">도면</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" name="unit_draw_file" id="unitDrawFile">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="unitEtcFile" class="col-sm-2 col-form-label">참고문서</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" name="unit_etc_file" id="unitEtcFile">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" id="saveUnit">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<script th:inline="javascript">
    $(document).ready(function (e) {
        var unitCode;
        $("#saveUnit").on("click", function () {
            // 먼저 다른 데이터를 서버로 전송
            var unitDTO = {
                unitName: $('#unitName').val(),
                unitStand: $('#unitStand').val(),
                unitTexture: $('#unitTexture').val(),
            };
            $.ajax({
                url: '/itemcontent/unit',
                type: "POST",
                data: JSON.stringify(unitDTO),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    console.log("자재코드는?? ", result);
                    alert("저장했습니다.");
                    uploadUnitDrawFile(result);  // 파일 업로드 함수 호출
                },
                error: function (error) {
                    console.log("데이터 저장 실패: ", error);
                    alert("데이터 저장에 실패했습니다. 다시 시도해주세요.");
                }
            });
        });

        function uploadUnitDrawFile(unitCode) {
            console.log("함수 안에서 자재코드는?? ", unitCode);
            var formData = new FormData();
            var fileInput = $('#unitDrawFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + unitCode+"D" + '/' + "item unit "+unitCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        uploadUnitEtcFile(unitCode);
                        // window.location.href = "/product/getListProduct";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                uploadUnitEtcFile(unitCode);
                // 파일이 없는 경우에도 페이지 리다이렉트
                // window.location.href = "/product/getListProduct";
            }
        }
        function uploadUnitEtcFile(unitCode) {
            console.log("함수 안에서 자재코드는?? ", unitCode);
            var formData = new FormData();
            var fileInput = $('#unitEtcFile')[0].files[0];
            if (fileInput) {
                formData.append("file", fileInput);
                $.ajax({
                    url: '/files/uploadOne/' + unitCode+"E" + '/'+"item unit "+unitCode,  // 파일 업로드 경로
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        console.log("파일 업로드 성공: ", result);
                        window.location.href = "/product/getListProduct";  // 업로드 후 페이지 리다이렉트
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("파일 업로드 실패: ", textStatus);
                        alert("파일 업로드에 실패했습니다. 다시 시도해주세요.");
                    }
                });
            } else {
                //파일이 없는 경우에도 페이지 리다이렉트
                window.location.href = "/product/getListProduct";
            }
        }
    });
</script>
<th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>

</body>
</html>
