<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>조달계획상세보기</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                    <li class="breadcrumb-item">발주계획</li>
                    <li class="breadcrumb-item active">조달계획</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">조달계획</h5>
                            <!-- General Form Elements -->
                            <form>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">생산코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="productionPlanCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">조달코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="procurementPlanCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">등록일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="procurementPlanRegDate" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">전체조달마감일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="productionPlanDeadLine" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">조달마감일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="procurementPlanDeadLine" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">자재코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="materialCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">자재명</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="materialName" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">현가용재고</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="availableQuantity" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">조달수량</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="procurementPlanQuantity" disabled>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" id="contractStatus">
                                계약정보 :
                            </h5>
                            <div class="row mb-3">
                                <label for="estimateFile" class="col-sm-2 col-form-label">견적서</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="estimateFile" multiple>
                                    <br>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">파일명</th>
                                            <th scope="col">삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="estimateFileList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">견적비고</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px" id="estimateMemo"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">계약서</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="contractFile" multiple>
                                    <br>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">파일명</th>
                                            <th scope="col">삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="contractFileList">
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">리드타임 (L / T)</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" value="">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">게약비고</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px"></textarea>
                                </div>
                            </div>
                            <hr>
                            <form>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">사업자등록자번호</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="거래처검색창.html"><button type="button" class="btn btn-primary">검색</button></a>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">상호명</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">대표자</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">주소</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">업태</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">종목</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">전화번호</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">팩스</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <hr>
                                <div class=" row mb-3">
                                    <label class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">전화번호</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">이메일</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">팩스</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <a href="조달계획리스트.html"><button type="button" class="btn btn-primary">계약정보저장</button></a>
                                        <a href="조달계획리스트.html"><button type="button" class="btn btn-primary">계약정보저장 및 조달진행</button></a>
                                        <a href="조달계획리스트.html"><button type="button" class="btn btn-primary">리스트</button></a>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        $(document).ready(function (e) {
            var procurementPlanCode = [[${procurementPlanCode}]];
            var estimateFileList = [];
            $.getJSON("/plan/procurementPlanGet/" + procurementPlanCode, function(dto) {
                $("#productionPlanCode").val(dto.productionPlanCode);
                $("#procurementPlanCode").val(dto.procurementPlanCode);
                $("#procurementPlanRegDate").val(formatDate(dto.procurementPlanRegDate));
                $("#productionPlanDeadLine").val(formatDate(dto.productionPlanDeadLine));
                $("#procurementPlanDeadLine").val(formatDate(dto.procurementPlanDeadLine));
                $("#materialCode").val(dto.materialCode);
                $("#materialName").val(dto.materialName);
                $("#availableQuantity").val(dto.availableQuantity);
                $("#procurementPlanQuantity").val(dto.procurementPlanQuantity);
                if(dto.procurementPlanStatus === "ESTABLISHED") {
                    $("#procurementPlanQuantity").prop("disabled", false);
                    $("#procurementPlanDeadLine").prop("disabled", false);
                }
                setContract(dto.contractStatus);
            });

            function setContract(contractStatus) {
                if (contractStatus === "PENDING") {
                    console.log("미계약상태임");
                    $("#contractStatus").text("계약정보 : 미계약");
                    $("#estimateFile").on("change", function () {
                        let files = $(this)[0].files;
                        for (var i = 0; i < files.length; i++) {
                            estimateFileList.push({
                                name: files[i].name,
                                url: URL.createObjectURL(files[i]) // 로컬 파일 URL 생성
                            });
                        }
                        displayFileList();
                    });
                } else if (contractStatus === "NEGOTIATION") {
                    console.log("계약협상중인상태임");
                } else if (contractStatus === "CONFIRMED") {
                    console.log("계약상태임");
                }
            }
            function displayFileList() {
                let fileTable = "";
                for (var i = 0; i < fileList.length; i++) {
                    fileTable += `
                <tr>
                    <th scope="row"><input type="radio" name="estimate" value="${fileList[i].name}"></th>
                    <td><a href="${fileList[i].url}" target="_blank">${fileList[i].name}</a></td>
                    <td><button type="button" class="btn btn-danger delete-estimate-file-btn" data-estimateindex="${i}"><i class="bi bi-exclamation-octagon"></i></button></td>
                </tr>`;
                }
                $("#estimateFileList").html(fileTable);
            }
            // 이벤트 위임을 사용하여 동적으로 생성된 버튼에 이벤트 핸들러를 바인딩
            $(document).on("click", ".delete-estimate-file-btn", function() {
                let index = $(this).data("estimateindex");
                console.log("삭제할 파일 인덱스: ", index);
                removeFile(index);
            });
            function removeFile(index) {
                fileList.splice(index, 1);  // 배열에서 파일 제거
                displayFileList();  // 테이블 업데이트
            }
        });
    </script>

    <th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>