<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>조달계획상세보기</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                    <li class="breadcrumb-item">발주계획</li>
                    <li class="breadcrumb-item active">조달계획</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">조달계획</h5>
                            <!-- General Form Elements -->
                            <form>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">생산코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="productionPlanCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">조달코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="procurementPlanCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">등록일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="procurementPlanRegDate" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">전체조달마감일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="productionPlanDeadLine" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">조달마감일</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="procurementPlanDeadLine" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">자재코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="materialCode" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">자재명</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="materialName" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">현가용재고</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="availableQuantity" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">조달수량</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="procurementPlanQuantity" disabled>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                계약정보 : 계약
                            </h5>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">계약서</label>
                                <div class="col-sm-10">
                                    <a href="#">240723_A상사_계약서_최종.pdf</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">계약비고</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" style="height: 100px" disabled></textarea>
                                </div>
                            </div>
                            <hr>
                            <!-- General Form Elements -->
                            <form>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">사업자등록자번호</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="124-22-60260" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">상호명</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="A물산" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">대표자</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="ooo대표님" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">주소</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="서울특별시 중구 어쩌구" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">업태</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="제조업" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">종목</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="기자재" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">전화번호</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="031-1234-5678" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">팩스</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="031-1234-5678" disabled>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="OOO사장님" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">전화번호</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="031-1234-5678" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">이메일</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="Aaa@aaa.com" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">팩스</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="031-1234-5678" disabled>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <a href="조달계획리스트.html"><button type="button" class="btn btn-primary">리스트</button></a>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        $(document).ready(function (e) {
            var procurementPlanCode = [[${procurementPlanCode}]];
            $.getJSON("/plan/procurementPlanGet/" + procurementPlanCode, function(dto) {
                console.log("조달계획 잘 불러오나?"+dto)
                $("#productionPlanCode").val(dto.productionPlanCode);
                $("#procurementPlanCode").val(dto.procurementPlanCode);
                $("#procurementPlanRegDate").val(formatDate(dto.procurementPlanRegDate));
                $("#productionPlanDeadLine").val(formatDate(dto.productionPlanDeadLine));
                $("#procurementPlanDeadLine").val(formatDate(dto.procurementPlanDeadLine));
                $("#materialCode").val(dto.materialCode);
                $("#materialName").val(dto.materialName);
                $("#availableQuantity").val(dto.availableQuantity);
                $("#procurementPlanQuantity").val(dto.procurementPlanQuantity);
                if(dto.procurementPlanStatus==="ESTABLISHED"){
                    $("#procurementPlanQuantity").prop("disabled", false);
                    $("#procurementPlanDeadLine").prop("disabled", false);
                }
                if(dto.contractStatus==="ESTABLISHED"){
                    console.log("미계약상태임")
                }else if(dto.contractStatus==="IN_PROGRESS"){
                    console.log("계약협상중인상태임")
                }else if(dto.contractStatus==="CONFIRMED"){
                    console.log("계약상태임")
                }
            })
        });
    </script>

    <th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>