<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>생산계획리스트</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">메인</a></li>
                    <li class="breadcrumb-item">발주계획</li>
                    <li class="breadcrumb-item active">생산계획</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="filter">
                            <a href="/plan/productionPlanResister"><button type="button" class="btn btn-primary btn-sm">별도생산계획등록</button></a>
                            <a class="icon"><button type="button" class="btn btn-primary btn-sm">파일로등록</button></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">생산계획리스트</h5>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>보기 | 발주날짜 : 전체 | 납기일 : 전체 </b>
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <b>검색 | 전체 : -</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">조달마감일</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProductionPlanDeadLineStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProductionPlanDeadLineEnd">
                                                </div>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">생산일</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProductionPlanDateStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProductionPlanDateEnd">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">검색</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example" id="searchType">
                                                        <option value="123" selected>전체</option>
                                                        <option value="1">품목명</option>
                                                        <option value="2">품목코드</option>
                                                        <option value="3">생산코드</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="searchKeyword">
                                                        <button class="input-group-text" id="searchListBtn">검색</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">생산코드</th>
                                    <th scope="col">생산구분</th>
                                    <th scope="col">제품/유닛명</th>
                                    <th scope="col">생산수량</th>
                                    <th scope="col">등록일</th>
                                    <th scope="col">조달마감일</th>
                                    <th scope="col">생산일</th>
                                </tr>
                                </thead>
                                <tbody id="productionPlanList">
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        var totalPage = 0;
        var currentPage = 1;
        $(document).ready(function (e) {
            console.log("자바스크립트작동")

            //CYH : 24.08.29 날짜 관련 내용 추가
            function getPlanContent(page,searchType,searchKeyword,startDate1,endDate1,startDate2,endDate2) {
                let jsonLink=`/plan/productionPlanList?page=${page}&size=10`;
                if (typeof searchType !== 'undefined' && searchType !== "") {jsonLink += `&type=${searchType}`;}
                if (typeof searchKeyword !== 'undefined' && searchKeyword !== "") {jsonLink += `&keyword=${searchKeyword}`;}
                if (typeof startDate1 !== 'undefined' && startDate1 !== "") {jsonLink += `&startDate1=${startDate1}`;}
                if (typeof endDate1 !== 'undefined' && endDate1 !== "") {jsonLink += `&endDate1=${endDate1}`;}
                if (typeof startDate2 !== 'undefined' && startDate2 !== "") {jsonLink += `&startDate2=${startDate2}`;}
                if (typeof endDate2 !== 'undefined' && endDate2 !== "") {jsonLink += `&endDate2=${endDate2}`;}
                return $.getJSON(jsonLink, function(data) {
                    console.log("요청", data);
                    console.log("요청링크",jsonLink)
                    // 첫 번째 요청에서 totalPage 값 설정
                    if (totalPage === 0) {
                        totalPage = data.totalPage;
                    }
                    var str = "";
                    $.each(data.dtoList, function(idx, dto) {
                        let division="";
                        let divisionName="";
                        if(dto.unitCode) {
                            division = "유닛";
                            divisionName = dto.unitName;
                        }else{
                            division = "제품";
                            divisionName = dto.productName;
                        }
                        str += '<tr>';
                        str += '<th scope="row">'+ ((page - 1) * data.size + idx + 1) +'</th>';
                        str += '<td><a href="/plan/productionPlanGet?productionPlanCode='+dto.productionPlanCode+'">'+dto.productionPlanCode+'</a></td>';
                        str += '<td>'+division+'</td>';
                        str += '<td>'+divisionName+'</td>';
                        str += '<td>'+dto.productionPlanQuantity+'</td>';
                        str += '<td>'+formatDate(dto.productionPlanRegDate)+'</td>';
                        str += '<td>'+formatDate(dto.productionPlanDeadLine)+'</td>';
                        str += '<td>'+formatDate(dto.productionPlanDate)+'</td>';
                        str += '</tr>';
                    });
                    $("#productionPlanList").append(str); // 데이터를 덮어쓰지 않고 추가
                });
            }
            getPlanContent(1,"","", "","","","");
            setupInfiniteScroll(getPlanContent);
            $("#searchListBtn").on("click", function () {
                var searchType=$("#searchType").val();
                var searchKeyword=$("#searchKeyword").val();

                //CYH : 24.08.29 날짜 관련 내용 추가
                var startDate1 = $("#searchProductionPlanDeadLineStart").val() ? new Date($("#searchProductionPlanDeadLineStart").val()) : null;
                var endDate1 = $("#searchProductionPlanDeadLineEnd").val() ? new Date($("#searchProductionPlanDeadLineEnd").val()) : null;
                var startDate2 = $("#searchProductionPlanDateStart").val() ? new Date($("#searchProductionPlanDateStart").val()) : null;
                var endDate2 = $("#searchProductionPlanDateEnd").val() ? new Date($("#searchProductionPlanDateEnd").val()) : null;

                console.log("검색타입은",searchType,"검색키워드는",searchKeyword,"검색날짜는",startDate1,endDate1,startDate2,endDate2);
                $("#productionPlanList").empty();
                totalPage = 0;
                currentPage = 1;
                console.log("토탈페이지",totalPage,"현재페이지",currentPage);
                //getPlanContent(1,searchType,searchKeyword,startDate1,endDate1,startDate2,endDate2);

                //CYH : 24.08.29 날짜 관련 내용 추가
                //getPlanContent(1,searchType,searchKeyword, startDate1, endDate1, startDate2, endDate2);
                //getPlanContent(1,searchType,searchKeyword, startDate1 ? new Date(startDate1).toISOString() : "", endDate1 ? new Date(endDate1).toISOString() : "", startDate2 ? new Date(startDate2).toISOString() : "", endDate2 ? new Date(endDate2).toISOString() : "");
                getPlanContent(1,searchType,searchKeyword, startDate1 ? formatDate(startDate1) : "", endDate1 ? formatDate(endDate1) : "", startDate2 ? formatDate(startDate2) : "", endDate2 ? formatDate(endDate2) : "");
                setupInfiniteScroll(getPlanContent);
            });
        });
    </script>

    <th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::js}"></th:block>
</body>
</html>