<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>재고금액현황리스트</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">메인</a></li>
                    <li class="breadcrumb-item">재고관리</li>
                    <li class="breadcrumb-item active">재고금액현황리스트</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">재고금액현황리스트 TOP5</h5>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div id="donutChart"></div>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">자재명</th>
                                            <th scope="col">거래처</th>
                                            <th scope="col">재고수량</th>
                                            <th scope="col">평균단가</th>
                                            <th scope="col">재고금액</th>
                                        </tr>
                                        </thead>
                                        <tbody id="inventoryListOrderByPrice5">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">재고금액현황리스트(전체)</h5>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">총재고량</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="totallMaterialQuantity" disabled>
                                </div>
                                <label for="inputText" class="col-sm-2 col-form-label">금액</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="totallMaterialPrice" disabled>
                                </div>
                            </div>
                            <br>
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">자재명</th>
                                    <th scope="col">품목코드</th>
                                    <th scope="col">거래처</th>
                                    <th scope="col">재고수량</th>
                                    <th scope="col">평균단가</th>
                                    <th scope="col">재고금액</th>
                                </tr>
                                </thead>
                                <tbody id="inventoryListOrderByPrice">
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->
                        </div>
                        <!--(페이지 내용 끝.)-->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        var totalPage = 0;
        var currentPage = 1;
        var totalPrice5=0;
        $(document).ready(function (e) {
            console.log("자바스크립트작동");

            function getInventoryContent(page) {
                let jsonLink = `/inventorycontent/inventoryListOrderByPrice?page=${page}&size=10`;
                return $.getJSON(jsonLink, function (data) {
                    console.log("요청", data);
                    if (totalPage === 0) {
                        totalPage = data.totalPage;
                    }
                    var str = "";
                    var str5 = "";

                    $.each(data.dtoList, function (idx, dto) {
                        str += '<tr>';
                        str += '<th scope="row">' + ((page - 1) * data.size + idx + 1) + '</th>';
                        str += '<td>'+dto.materialName+'</td>';
                        str += '<td>'+dto.materialCode+'</td>';
                        str += '<td>'+dto.purchaserName+'</td>';
                        str += '<td>'+formatNumberWithCommas(dto.materialQuantity)+'</td>';
                        str += '<td>'+formatNumberWithCommas(dto.contractAvgPrice)+'</td>';
                        str += '<td>'+formatNumberWithCommas(dto.totalPrice)+'</td>';
                        str += '</tr>';

                        if(page===1&&idx<5) {
                            str5 += '<tr>'
                            str5 += '<th scope="col">'+(idx+1)+'</th>';
                            str5 += '<td id="materialName'+(idx+1)+'">'+dto.materialName+'</td>';
                            str5 += '<td>'+dto.purchaserName+'</td>';
                            str5 += '<td>'+formatNumberWithCommas(dto.materialQuantity)+'</td>';
                            str5 += '<td>'+formatNumberWithCommas(dto.contractAvgPrice)+'</td>';
                            str5 += '<td id="totalPrice'+(idx+1)+'">'+formatNumberWithCommas(dto.totalPrice)+'</td>';
                            str5 += '</tr>';
                            totalPrice5+=dto.totalPrice;
                        }
                    });
                    $("#inventoryListOrderByPrice").append(str);
                    $("#inventoryListOrderByPrice5").append(str5);
                    $.getJSON("/inventorycontent/totallMaterialPrice", function(data) {
                        console.log("응답데이터", data);
                        $("#totallMaterialPrice").val(formatNumberWithCommas(data));
                        if (page === 1) {
                            createDonutChart();
                            let str6='';
                            str6 += '<tr><td colspan="6" class="text-center">...</td></tr>'
                            str6 += '<tr>'
                            str6 += '<th scope="col">-</th>';
                            str6 += '<td colspan="3">기타</td>';
                            str6 += '<td>'+$("#totallMaterialPrice").val()+'</td>';
                            str6 += '</tr>';
                            $("#inventoryListOrderByPrice5").append(str6);
                        }
                    }).fail(function(jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log("총금액 불러오기 실패: " + err);
                    });
                    // 데이터가 로드된 후에 차트를 생성합니다.

                });
            }

            function createDonutChart() {
                const prices = [
                    parseNumberFromCommas($("#totalPrice1").text()),
                    parseNumberFromCommas($("#totalPrice2").text()),
                    parseNumberFromCommas($("#totalPrice3").text()),
                    parseNumberFromCommas($("#totalPrice4").text()),
                    parseNumberFromCommas($("#totalPrice5").text()),
                    (parseNumberFromCommas($("#totallMaterialPrice").val())-totalPrice5)
                ];

                const labels = [
                    $("#materialName1").text(),
                    $("#materialName2").text(),
                    $("#materialName3").text(),
                    $("#materialName4").text(),
                    $("#materialName5").text(),
                    '기타'
                ];

                new ApexCharts(document.querySelector("#donutChart"), {
                    series: prices.map(price => parseFloat(price)),  // 숫자로 변환
                    chart: {
                        height: 350,
                        type: 'donut',
                        toolbar: {
                            show: true
                        }
                    },
                    labels: labels,
                }).render();
            }

            getInventoryContent(1);
            setupInfiniteScroll(getInventoryContent);

            $.getJSON("/inventorycontent/totallMaterialQuantity", function (data) {
                console.log("응답데이터", data);
                $("#totallMaterialQuantity").val(formatNumberWithCommas(data));
            }).fail(function(jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("총재고량 불러오기 실패: " + err);
            });

        });
    </script>
    <th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::js}"></th:block>
</body>
</html>