<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>출고요청리스트</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">메인</a></li>
                    <li class="breadcrumb-item">재고관리</li>
                    <li class="breadcrumb-item active">출고요청리스트</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="/inventory/releaseRequestGet"><button type="button" class="btn btn-primary"> 출고요청등록</button></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                출고요청리스트
                            </h5>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>보기 | 발주날짜 : 전체 | 납기일 : 전체 </b>
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <b>검색 | 전체 : -</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <label for="inputText" class="col-sm-1 col-form-label">출고희망일</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchReleaseDesireDateStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchReleaseDesireDateEnd">
                                                </div>

                                            </div>
                                            <hr>
                                            <div class="row mb-3">
                                                <label for="inputText" class="col-sm-1 col-form-label">검색</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example" id="searchType">
                                                        <option value="123" selected>전체</option>
                                                        <option value="1">자재명</option>
                                                        <option value="2">자재코드</option>
                                                        <option value="3">요청처명</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="searchKeyword">
                                                        <button class="input-group-text" id="searchListBtn">검색</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">자재명</th>
                                    <th scope="col">공급처</th>
                                    <th scope="col">요청처</th>
                                    <th scope="col">계획수립일</th>
                                    <th scope="col">계획수량</th>
                                    <th scope="col">실물재고</th>
                                    <th scope="col">가용재고</th>
                                    <th scope="col">불출희망일</th><!--(계획수립시 희망일을 등록해줌)-->
                                </tr>
                                </thead>
                                <tbody id="releaseList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        var totalPage = 0;
        var currentPage = 1;
        $(document).ready(function (e) {
            console.log("자바스크립트작동");
            function getReleaseContent(page,searchType,searchKeyword,startDate1,endDate1) {
                let jsonLink=`/inventorycontent/releaseList?page=${page}&size=10&type=${searchType}&keyword=${searchKeyword}&startDate1=${startDate1}&endDate1=${endDate1}`;
                return $.getJSON(jsonLink, function(data) {
                    console.log("요청", data);
                    // 첫 번째 요청에서 totalPage 값 설정
                    if (totalPage === 0) {
                        totalPage = data.totalPage;
                    }
                    var str = "";
                    $.each(data.dtoList, function(idx, dto) {
                        str += '<tr>';
                        str += '<th scope="row">' + ((page - 1) * data.size + idx + 1) + '</th>'; // 수정된 코드: 페이지에 따른 순번 계산
                        str += '<td><a href="/inventory/releaseGet?releaseCode='+dto.releaseCode+'">'+dto.materialName+'</a></td>';
                        str += '<td>'+dto.purchaserName+'</td>';
                        str += '<td>'+dto.releaseRequestDept+'</td>';
                        str += '<td>'+formatDate(dto.releaseRequestDate)+'</td>';
                        str += '<td>'+dto.releaseDesireQuantity+'</td>';
                        str += '<td>'+dto.materialQuantity+'</td>';
                        str += '<td>'+dto.availableQuantity+'</td>';
                        str += '<td>'+formatDate(dto.releaseDesireDate)+'</td>';
                        str += '</tr>';
                    });
                    $("#releaseList").append(str); // 데이터를 덮어쓰지 않고 추가
                });
            }

            getReleaseContent(1,"","", "","");
            setupInfiniteScroll(getReleaseContent);

            $("#searchListBtn").on("click", function () {
                var searchType=$("#searchType").val();
                var searchKeyword=$("#searchKeyword").val();

                // 날짜 관련 내용
                var startDate1 = $("#searchReleaseDesireDateStart").val() ? new Date($("#searchReleaseDesireDateStart").val()) : null;
                var endDate1 = $("#searchReleaseDesireDateEnd").val() ? new Date($("#searchReleaseDesireDateEnd").val()) : null;

                console.log("검색타입은",searchType,"검색키워드는",searchKeyword,"검색날짜는",startDate1,endDate1);
                $("#releaseList").empty();
                totalPage = 0;
                currentPage = 1;
                console.log("토탈페이지",totalPage,"현재페이지",currentPage);
                getReleaseContent(1,searchType,searchKeyword, startDate1 ? formatDate(startDate1) : "", endDate1 ? formatDate(endDate1) : "");
                setupInfiniteScroll(getReleaseContent);
            });
        });
    </script>

    <th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::js}"></th:block>
</body>
</html>
