<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>입고대기리스트</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                    <li class="breadcrumb-item">재고관리</li>
                    <li class="breadcrumb-item active">입고대기리스트</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">입고대기리스트</h5>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>보기 | 발주날짜 : 전체 | 납기일 : 전체 </b>
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <b>검색 | 전체 : -</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">발주날짜</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" value="0">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" value="0">
                                                </div>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">납기일</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" value="0">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" value="0">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">검색</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>전체</option>
                                                        <option value="1">품목명</option>
                                                        <option value="2">품목코드</option>
                                                        <option value="2">거래처명</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="itemCodeInput">
                                                        <button class="input-group-text" id="confirmSelectionBtn">검색</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">자재명</th>
                                    <th scope="col">발주수량</th>
                                    <th scope="col">총액</th>
                                    <th scope="col">거래처명</th>
                                    <th scope="col">발주날짜</th>
                                    <th scope="col">납기일</th>
                                </tr>
                                </thead>
                                <tbody id="warehousingList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        var totalPage = 0;
        var currentPage = 1;
        const statusMapping = {
            "PENDING": "입고대기",
            "COMPLETED": "입고완료"
        };
        $(document).ready(function (e) {
            console.log("자바스크립트작동")
            function getWarehousingContent(page) {
                return $.getJSON(`/inventorycontent/warehousingList?page=${page}&size=10`, function(data) {
                    console.log("요청", data);
                    // 첫 번째 요청에서 totalPage 값 설정
                    if (totalPage === 0) {
                        totalPage = data.totalPage;
                    }
                    var str = "";
                    $.each(data.dtoList, function(idx, dto) {
                        var inspectionPlanCount = dto.inspectionPlanCount === 0 ? '미등록' : '등록(' + dto.inspectionPlanCount + ')';
                        str += '<tr>';
                        str += '<th scope="row">' + ((page - 1) * data.size + idx + 1) + '</th>'; // 수정된 코드: 페이지에 따른 순번 계산
                        str += '<td><a href="warehousingGet?warehousingCode=' + dto.warehousingCode + '">'+dto.purchaseOrderDTO.materialName+'</a></td>'
                        str += '<td>'+dto.purchaseOrderDTO.procurementPlanQuantity+'</td>'
                        str += '<td>'+(dto.purchaseOrderDTO.procurementPlanQuantity*dto.purchaseOrderDTO.contractPrice)+'</td>'
                        str += '<td>'+dto.purchaseOrderDTO.purchaserName+'</td>'
                        str += '<td>' + formatDate(dto.purchaseOrderDTO.purchaseOrderDate) + '</td>';
                        str += '<td>' + formatDate(dto.purchaseOrderDTO.procurementPlanDeadLine) + '</td>';
                        str += '</tr>';
                    });
                    $("#warehousingList").append(str); // 데이터를 덮어쓰지 않고 추가
                });
            }

            getWarehousingContent(1);
            setupInfiniteScroll(getWarehousingContent);
        })
    </script>
    <th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>