<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>검수리스트</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                    <li class="breadcrumb-item">구매발주</li>
                    <li class="breadcrumb-item active">검수관리</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">검수리스트</h5>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>보기 | 발주일자 : 전체 | 납기일자 : 전체 | 검수일자 : 전체 | 검수상태 : 전체 | 납기진도 : 전체 | 진척율 : 전체</b>
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <b>검색 | 전체 : -</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">발주일자</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchPurchaseOrderDateStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchPurchaseOrderDateEnd">
                                                </div>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">납기일자</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProcurementPlanDeadLineStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchProcurementPlanDeadLineEnd">
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <p>
                                                </p>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">검수일자</label>
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchInspectionPlanDateTimeStart">
                                                </div>
                                                ~
                                                <div class="col-sm-2">
                                                    <input type="date" class="form-control" id="searchInspectionPlanDateTimeEnd">
                                                </div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <p></p>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">검수상태</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>전체</option>
                                                        <option value="1">재검필요</option>
                                                        <option value="2">검수완료</option>
                                                    </select>
                                                </div>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">납기진도</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>전체</option>
                                                        <option value="1">미완</option>
                                                        <option value="2">완료</option>
                                                    </select>
                                                </div>
                                                <label for="inputPassword" class="col-sm-1 col-form-label">진척율</label>
                                                <div class="col-sm-1">
                                                    <input type="number" class="form-control" value="">
                                                </div>
                                                ~
                                                <div class="col-sm-1">
                                                    <input type="number" class="form-control" value="">
                                                </div>
                                                %
                                            </div>
                                            <div class="row mb-3">
                                            </div>
                                            <hr>
                                            <div class="row mb-3">
                                                <label for="inputPassword" class="col-sm-1 col-form-label">검색</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select" aria-label="Default select example" id="searchType">
                                                        <option value="123" selected>전체</option>
                                                        <option value="1">자재명</option>
                                                        <option value="2">자재코드</option>
                                                        <option value="3">공급처</option>
                                                        <!--<option value="4">검수자</option>-->
                                                    </select>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" id="searchKeyword">
                                                        <button class="input-group-text" id="searchListBtn">검색</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Default Accordion Example -->
                            <br>
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th>품목명</th>
                                    <th>공급처</th>
                                    <th>발주수량</th>
                                    <th>발주일자</th>
                                    <th>납기일자</th>
                                    <th>검수상태</th>
                                    <th>검수일자</th>
                                    <th>검수자</th>
                                    <th>진척율</th>
                                    <th>납기진도</th>
                                    <th>보완사항</th>
                                </tr>
                                </thead>
                                <tbody id="inspectionPlanList">
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <!-- End #main -->
    <script th:inline="javascript">
        var totalPage = 0;
        var currentPage = 1;
        var counting =0;
        const statusMapping = {
            "NOT_INSPECTED": "검수전",
            "INSPECTED": "검수완료"
        };
        const deliveryProgressMapping = {
            "NOT_STARTED": "미완",
            "COMPLETED": "완료",
            "NOT_INSPECTED" : "-"
        };
        $(document).ready(function (e) {
            console.log("자바스크립트작동");
            function getPurchaseOrderContent(page,searchType,searchKeyword,startDate1,endDate1,startDate2,endDate2,startDate3,endDate3) {
                let jsonLink=`/purchaseordercontent/inspectionPlanList?page=${page}&size=100&type=${searchType}&keyword=${searchKeyword}&startDate1=${startDate1}&endDate1=${endDate1}&startDate2=${startDate2}&endDate2=${endDate2}&startDate3=${startDate3}&endDate3=${endDate3}`;
                return $.getJSON(jsonLink, function(data) {
                    console.log("요청", data);
                    // 첫 번째 요청에서 totalPage 값 설정
                    if (totalPage === 0) {
                        totalPage = data.totalPage;
                    }
                    var str = "";
                    var purchaseOrderCode="";
                    $.each(data.dtoList, function(idx,dto) {
                        var inspectionPlanCount=dto.inspectionPlanCount;
                        if(purchaseOrderCode!=dto.purchaseOrderDTO.purchaseOrderCode){
                            console.log("발주코드전",purchaseOrderCode);
                            purchaseOrderCode= dto.purchaseOrderDTO.purchaseOrderCode;
                            console.log("발주코드후",purchaseOrderCode);
                            counting+=1;
                            var row=inspectionPlanCount===0?1:inspectionPlanCount;
                            str += '<tr>'
                            str += '<th scope="col" rowSpan="'+row+'">'+ counting +'</th>'
                            str += '<td rowSpan="'+row+'"><a href="inspectionPlanGet?purchaseOrderCode='+purchaseOrderCode+'">'+dto.purchaseOrderDTO.materialName+'</a></td>'
                            str += '<td rowSpan="'+row+'">'+dto.purchaseOrderDTO.purchaserName+'</td>'
                            str += '<td rowSpan="'+row+'">'+dto.purchaseOrderDTO.procurementPlanQuantity+'</td>'
                            str += '<td rowSpan="'+row+'">'+formatDate(dto.purchaseOrderDTO.purchaseOrderDate)+'</td>'
                            str += '<td rowSpan="'+row+'">'+formatDate(dto.purchaseOrderDTO.procurementPlanDeadLine)+'</td>'
                        }
                        if(inspectionPlanCount){
                            str += '<td>'+statusMapping[dto.inspectionPlanStatus]+'</td>'
                            str += '<td>'+formatDate(dto.inspectionPlanDateTime)+'</td>'
                            str += '<td>'+'검수자이름'+'</td>'
                            str += '<td>'+dto.inspectionPlanProgress+'%</td>'
                            str += '<td>'+deliveryProgressMapping[dto.inspectionPlanDeliveryProgress]+'</td>'
                            str += '<td>'+(dto.inspectionPlanComplementary ? dto.inspectionPlanComplementary : '-')+'</td>'
                            str += '</tr>'
                        }else {
                            str += '<td>검수계획필요</td>'
                            str += '<td></td><td></td><td></td><td></td><td></td></tr>'
                        }

                    });
                    $("#inspectionPlanList").append(str); // 데이터를 덮어쓰지 않고 추가
                });
            }

            getPurchaseOrderContent(1,"","", "","","","","","");
            setupInfiniteScroll(getPurchaseOrderContent);

            $("#searchListBtn").on("click", function () {
                var searchType=$("#searchType").val();
                var searchKeyword=$("#searchKeyword").val();

                // 날짜 관련 내용
                var startDate1 = $("#searchPurchaseOrderDateStart").val() ? new Date($("#searchPurchaseOrderDateStart").val()) : null;
                var endDate1 = $("#searchPurchaseOrderDateEnd").val() ? new Date($("#searchPurchaseOrderDateEnd").val()) : null;
                var startDate2 = $("#searchProcurementPlanDeadLineStart").val() ? new Date($("#searchProcurementPlanDeadLineStart").val()) : null;
                var endDate2 = $("#searchProcurementPlanDeadLineEnd").val() ? new Date($("#searchProcurementPlanDeadLineEnd").val()) : null;
                var startDate3 = $("#searchInspectionPlanDateTimeStart").val() ? new Date($("#searchInspectionPlanDateTimeStart").val()) : null;
                var endDate3 = $("#searchInspectionPlanDateTimeEnd").val() ? new Date($("#searchInspectionPlanDateTimeEnd").val()) : null;

                console.log("검색타입은",searchType,"검색키워드는",searchKeyword,"검색날짜는",startDate1,endDate1,startDate2,endDate2,startDate3,endDate3);
                $("#inspectionPlanList").empty();
                totalPage = 0;
                currentPage = 1;
                console.log("토탈페이지",totalPage,"현재페이지",currentPage);
                getPurchaseOrderContent(1,searchType,searchKeyword, startDate1 ? formatDate(startDate1) : "", endDate1 ? formatDate(endDate1) : "", startDate2 ? formatDate(startDate2) : "", endDate2 ? formatDate(endDate2) : "", startDate3 ? formatDate(startDate3) : "", endDate3 ? formatDate(endDate3) : "");
                setupInfiniteScroll(getPurchaseOrderContent);
            });
        });
    </script>
    <th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::js}"></th:block>
</body>
</html>
