<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{fragments/headFragment}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/bodyFragment::header}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::sidebar}"></th:block>
    <!-- ======= main ======= -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>검수관리상세보기</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">메인</a></li>
                    <li class="breadcrumb-item">구매발주</li>
                    <li class="breadcrumb-item">검수관리</li>
                    <li class="breadcrumb-item active">검수관리상세보기</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">검수 관리</h5>
                            <div class="accordion">
                                <span th:if="${inspectionPlanCount > 0}">
                                    <th:block th:each="num, numStat : ${#numbers.sequence(1, inspectionPlanCount)}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" th:id="'heading' + ${numStat.index}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${numStat.index}" aria-expanded="false" th:aria-controls="'collapse' + ${numStat.index}">
                                                    검수 [[${numStat.index+1}]]
                                                </button>
                                            </h2>
                                            <div th:id="'collapse' + ${numStat.index}" class="accordion-collapse collapse show" th:aria-labelledby="'heading' + ${numStat.index}">
                                                <div class="accordion-body">
                                                    <h5 class="card-title">검수 계획</h5>
                                                    <div class="row mb-3">
                                                        <label for="inputText" class="col-sm-2 col-form-label">날짜</label>
                                                        <div class="col-sm-10">
                                                            <input type="date" class="form-control" th:id="'inspectionPlanDate'+${numStat.index}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputTime" class="col-sm-2 col-form-label">시간</label>
                                                        <div class="col-sm-10">
                                                            <input type="time" class="form-control" th:id="'inspectionPlanTime'+${numStat.index}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputText" class="col-sm-2 col-form-label">담당자</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputText" class="col-sm-2 col-form-label">연락처</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="inputPassword" class="col-sm-2 col-form-label">비고</label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" style="height: 100px" th:id="'inspectionPlanMemo' + ${numStat.index}" disabled></textarea>
                                                        </div>
                                                    </div>
                                                    <span th:id="'addResult' + ${numStat.index}"></span>
                                                    <span th:id="'addBtn' + ${numStat.index}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </span>
                                <span id="addInspectionPlan"></span>
                            </div><!-- End Accordion without outline borders -->
                            <br>
                            <span id="addInspectionPlanResisterBtn"></span>
                            <a href="inspectionPlanList"><button type="button" class="btn btn-primary">리스트</button></a>
                        </div>
                    </div>
                </div>
                <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            </div> <!--End row-->
        </section>
    </main>
    <script th:inline="javascript">
        // 검수계획 데이터 불러오기
        var purchaseOrderCode = [[${purchaseOrderCode}]];
        var inspectionPlanCount = [[${inspectionPlanCount}]];
        console.log("얼마야 도데치",inspectionPlanCount)
        $(document).ready(function (e){
            if(inspectionPlanCount!==0) {
                $.getJSON("/purchaseordercontent/inspectionPlan/" + purchaseOrderCode, function (data) {
                    console.log("우선작동됨")
                    console.log("응답데이터", data)
                    var lastInspectionStatus = data[data.length - 1].inspectionPlanStatus;
                    var lastPlanDeliveryProgress = data[data.length - 1].inspectionPlanDeliveryProgress;
                    $.each(data, function (idx, dto) {
                        console.log("인덱스", idx, dto)
                        var inspectionPlanCode = dto.inspectionPlanCode;
                        $("#inspectionPlanMemo" + idx).val(dto.inspectionPlanMemo);
                        $("#inspectionPlanDate" + idx).val(formatDate(dto.inspectionPlanDateTime));
                        $("#inspectionPlanTime" + idx).val(formatTime(dto.inspectionPlanDateTime));
                        $("#inspectionPlanMemo" + idx).attr('id', 'inspectionPlanMemo' + inspectionPlanCode);
                        $("#inspectionPlanDate" + idx).attr('id', 'inspectionPlanDate' + inspectionPlanCode);
                        $("#inspectionPlanTime" + idx).attr('id', 'inspectionPlanTime' + inspectionPlanCode);
                        $("#addBtn" + idx).attr('id', 'addBtn' + inspectionPlanCode);
                        $("#addResult" + idx).attr('id', 'addResult' + inspectionPlanCode);
                        if (dto.inspectionPlanStatus === "NOT_INSPECTED") {
                            console.log("이프절까지는 들어오나")
                            $("#addBtn" + inspectionPlanCode).html(`
                            <button type="button" class="btn btn-primary" id="inspectionPlanModify" data-inspection-code="` + inspectionPlanCode + `">검수계획수정</button>
                            <button type="button" class="btn btn-primary" id="inspectionPlanResultAdd" data-inspection-code="` + inspectionPlanCode + `">검수결과등록</button>
                        `)
                        } else {
                            addInspectionResult(inspectionPlanCode)
                            $("#inspectionResultDate" + inspectionPlanCode).val(formatDate(dto.inspectionResultDateTime));
                            $("#inspectionResultTime" + inspectionPlanCode).val(formatTime(dto.inspectionResultDateTime));
                            $("#inspectionPlanProgress" + inspectionPlanCode).val(dto.inspectionPlanProgress);
                            $("#inspectionPlanDeliveryProgress" + inspectionPlanCode).val(dto.inspectionPlanDeliveryProgress);
                            $("#inspectionPlanComplementary" + inspectionPlanCode).val(dto.inspectionPlanComplementary);
                            $("#addBtn" + inspectionPlanCode).html(`
                        <button type="button" class="btn btn-primary" id="inspectionPlanResultSave" data-inspection-code="` + inspectionPlanCode + `">검수결과수정</button>
                        `)
                        }
                    })
                    if (inspectionPlanCount < 3 && lastInspectionStatus === "INSPECTED" && lastPlanDeliveryProgress !== "COMPLETED") {
                        $("#addInspectionPlanResisterBtn").html(`
                    <button type="button" class="btn btn-primary" id="addNewInspectionPlanBtn">검수계획 추가</button>
                    `)
                    }
                })
            }else{
                addInspectionPlan()
            }
        })
        //검수계획수정처리
        $(document).on('click', '#inspectionPlanModify', function () {
            var inspectionPlanCode = $(this).data('inspection-code');
            var $btn = $(this);
            if ($btn.text() === '검수계획수정') {
                undisabledPlan(inspectionPlanCode);
                $("#addBtn"+inspectionPlanCode).html(`
                            <button type="button" class="btn btn-primary" id="inspectionPlanModify" data-inspection-code="`+inspectionPlanCode+`">검수계획수정완료</button>
                        `)
            } else {
                saveInspectionPlan(inspectionPlanCode);
            }
        });
        //검수계획 활성화
        function undisabledPlan(inspectionPlanCode){
            $('#inspectionPlanDate'+inspectionPlanCode).prop("disabled", false);
            $('#inspectionPlanTime'+inspectionPlanCode).prop("disabled", false);
            $('#inspectionPlanMemo'+inspectionPlanCode).prop("disabled", false);
        }
        //검수게획수정처리
        function saveInspectionPlan(inspectionPlanCode) {
            var InspectionPlanDTO = {
                inspectionPlanCode: inspectionPlanCode,
                inspectionPlanDateTime: $('#inspectionPlanDate'+inspectionPlanCode).val() + 'T' + $('#inspectionPlanTime'+inspectionPlanCode).val(),
                inspectionPlanMemo: $('#inspectionPlanMemo'+inspectionPlanCode).val()
            };
            console.log("수집한데이터", InspectionPlanDTO);
            $.ajax({
                url: '/purchaseordercontent/inspectionPlan/' + inspectionPlanCode,
                type: "PATCH",
                data: JSON.stringify(InspectionPlanDTO),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function(result) {
                    console.log("결과값result: " + result);
                    self.location.reload();
                }
            });
        }
        //검수결과 등록창 활성화
        $(document).on('click', '#inspectionPlanResultAdd', function () {
            var inspectionPlanCode = $(this).data('inspection-code');
            addInspectionResult(inspectionPlanCode);
            $('#inspectionResultDate'+inspectionPlanCode).val($('#inspectionPlanDate'+inspectionPlanCode).val())
            $('#inspectionResultTime'+inspectionPlanCode).val($('#inspectionPlanTime'+inspectionPlanCode).val())
            undisabledResult(inspectionPlanCode);
            $('#addBtn'+inspectionPlanCode).html(`
                            <button type="button" class="btn btn-primary" id="inspectionPlanResultSave" data-inspection-code="`+inspectionPlanCode+`">검수결과저장</button>
                        `)
        });
        //검수결과수정및저장
        $(document).on('click', '#inspectionPlanResultSave', function () {
            var inspectionPlanCode = $(this).data('inspection-code');
            var $btn = $(this);
            if ($btn.text() === '검수결과수정') {
                undisabledResult(inspectionPlanCode)
                $btn.text('검수결과저장');
            } else if($btn.text() === '검수결과저장') {
                var InspectionPlanDTO = {
                    inspectionPlanCode : inspectionPlanCode,
                    inspectionResultDateTime: $('#inspectionResultDate'+inspectionPlanCode).val() + 'T' +$('#inspectionResultTime'+inspectionPlanCode).val(),
                    inspectionPlanDeliveryProgress: $('#inspectionPlanDeliveryProgress'+inspectionPlanCode).val(),
                    inspectionPlanProgress: $('#inspectionPlanProgress'+inspectionPlanCode).val(),
                    inspectionPlanComplementary: $('#inspectionPlanComplementary'+inspectionPlanCode).val(),
                    inspectionPlanStatus: "INSPECTED"
                };
                console.log("수집한데이터", InspectionPlanDTO);
                $.ajax({
                    url: '/purchaseordercontent/inspectionPlan/result/' + inspectionPlanCode,
                    type: "POST",
                    data: JSON.stringify(InspectionPlanDTO),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function(result) {
                        console.log("결과값result: " + result);
                        self.location.reload();
                    }
                });
            }
        });
        //검수계획저장
        $(document).on('click', '#inspectionPlanSave', function () {
            console.log("발주검수저장"); // 함수가 호출되는지 확인
            var InspectionPlanDTO = {
                purchaseOrderDTO : {purchaseOrderCode: purchaseOrderCode},
                inspectionPlanCode : 'INSP'+purchaseOrderCode.substring(4)+'-'+(inspectionPlanCount+1),
                inspectionPlanDateTime: $('#inspectionPlanDate').val() + 'T'+$('#inspectionPlanTime').val(),
                inspectionPlanMemo: $('#inspectionPlanMemo').val(),
                inspectionPlanDeliveryProgress: "NOT_STARTED"
            };
            console.log("수집한데이터", InspectionPlanDTO);
            $.ajax({
                url: '/purchaseordercontent/inspectionPlan/' + purchaseOrderCode,
                type: "POST",
                data: JSON.stringify(InspectionPlanDTO),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function(result) {
                    console.log("결과값result: " + result);
                    self.location.reload();
                }
            });
        });
        //검수계획추가창 표시
        $(document).on('click', '#addInspectionPlanResisterBtn', function () {
            addInspectionPlan()
        })
        function addInspectionPlan(){
            $('#addInspectionPlan').html(`
                    <div class="accordion-item">
                        <h2 class="accordion-header" th:id="'heading`+(inspectionPlanCount+1)+`">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse`+(inspectionPlanCount+1)+`" aria-expanded="false" th:aria-controls="'collapse`+(inspectionPlanCount+1)+`">
                                검수 `+(inspectionPlanCount+1)+`
                            </button>
                        </h2>
                        <div th:id="'collapse`+(inspectionPlanCount+1)+`" class="accordion-collapse collapse show" th:aria-labelledby="'heading`+(inspectionPlanCount+1)+`">
                            <div class="accordion-body">
                                <h5 class="card-title">검수 계획</h5>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">날짜</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inspectionPlanDate">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputTime" class="col-sm-2 col-form-label">시간</label>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" id="inspectionPlanTime">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">연락처</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">비고</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" style="height: 100px" id="inspectionPlanMemo"></textarea>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" id="inspectionPlanSave">검수계획등록</button>
                            </div>
                        </div>
                    </div>
            `)
            $("#addInspectionPlanResisterBtn").html(`
                    <span id="addNewInspectionPlanBtn"></span>
                `)
        }
        //검수결과 활성화
        function undisabledResult(inspectionPlanCode){
            $("#inspectionResultDate"+inspectionPlanCode).prop("disabled", false);
            $("#inspectionResultTime"+inspectionPlanCode).prop("disabled", false);
            $("#inspectionPlanProgress"+inspectionPlanCode).prop("disabled", false);
            $("#inspectionPlanDeliveryProgress"+inspectionPlanCode).prop("disabled", false);
            $("#inspectionPlanComplementary"+inspectionPlanCode).prop("disabled", false);
        }
        // 검수결과 표시 함수
        function addInspectionResult(inspectionPlanCode){
            $('#addResult'+inspectionPlanCode).html(`
                <hr>
                          <h5 class="card-title">검수 결과</h5>
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">날짜</label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" id="inspectionResultDate`+inspectionPlanCode+`" disabled>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">시간</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control" id="inspectionResultTime`+inspectionPlanCode+`" disabled>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">담당자</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">진척률</label>
                            <span class="col-sm-10">
                                <div class="input-group">
                                  <input type="number" class="form-control" value="0" id="inspectionPlanProgress`+inspectionPlanCode+`" disabled>
                                  <span class="input-group-text">%</span>
                                </div>
                            </span>
                          </div>
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">납기진도</label>
                            <div class="col-sm-10">
                              <select class="form-select" aria-label="Default select example" id="inspectionPlanDeliveryProgress`+inspectionPlanCode+`" disabled>
                                <option value="NOT_STARTED" selected>미완</option>
                                <option value="COMPLETED">완료</option>
                            </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">보완사항</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" style="height: 100px" id="inspectionPlanComplementary`+inspectionPlanCode+`" disabled></textarea>
                            </div>
                          </div>
            `)
        }

    </script>
    <!-- End #main -->
    <th:block th:replace="~{fragments/bodyFragment::footer}"></th:block>
    <th:block th:replace="~{fragments/bodyFragment::js}"></th:block>
</body>
</html>